body {
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: #060311; /* Background color for the header */
  color: white;
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #8e1dff; /* Hover color change */
}

.login-btn .btn {
  padding: 0.5rem 1.5rem;
  background-color: #0047ff; /* Button color */
  color: white;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-btn .btn:hover {
  background-color: #0029b5; /* Darker blue on hover */
}

.text-h1 {
  color: white;
}

.hero-section {
  position: relative;
  height: 768px; /* Set the fixed height for background */
  background: url("/img/header bg.png") no-repeat center center,
    url("/img/Bg lines.png") no-repeat right top;
  background-size: cover, contain;
  background-color: #060311; /* Ensure the background images scale properly */
}

/* Content inside the background section */
.hero-content {
  position: absolute; /* Overlay this content on top of background */
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Center the content perfectly */
  color: white; /* Example text color */
  text-align: center; /* Center the text */
}

/* New content below the hero section */
.content-below {
  padding: 50px;
  background-color: #f4f4f4;
  text-align: center;
}

/* Media queries for mobile responsiveness */
@media (max-width: 414px) {
  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .nav-links li {
    margin: 0 10px;
  }

  .login-btn .btn {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 414px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin: 1rem 0;
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
